.bioContainer {
    padding: 0.5rem;
    margin-bottom: 9rem;
}

.text {
    color: var(--primary-text);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.blueText {
    color: var(--primary-blue);
}