.experienceMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    padding: 0;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.experienceList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 1rem;
}