.expMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    padding: 2rem 1rem 1rem;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.experienceList {
    list-style-type: none;
}

@media (min-width: 481px) {
    .expMain {
        padding: 1rem;
    }
}

@media (min-width: 1085px) {
    .expMain {
        padding: 0;
    }
}