.bioContainer {
    margin-bottom: 9rem;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.text {
    color: var(--primary-text);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.blueText {
    color: var(--primary-blue);
}

@media (max-width: 480px) {
    .bioContainer {
        margin-bottom: 4rem;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .bioContainer {
        margin-bottom: 4rem;
    }
}