@import '../../utils/colors.css';

@media (max-width: 480px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1rem 1rem 0;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem 0;
        padding: 1rem;
        overflow: auto;
        width: 100%;
        color: #2E4053;
        /*font-size: 0.85rem;*/
    }

    .link {
        text-decoration: none;
        color: var(--normal-blue);
    }

    .link:hover {
        color: var(--navy-blue);
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 1rem 0 0.5rem;
        align-self: center;
        flex: 0 0 auto;
        min-height: 16rem;
        max-width: 100%;
    }

    .skillsAndTech {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .soloCardContainer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1rem 2rem;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-content: stretch;
        width: 100%;
        @media (max-width: 505px) {
            display: flex;
            flex-direction: column;
        }
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;
        overflow: auto;
        color: #2E4053;
        font-size: 0.85rem;
    }

    .link {
        text-decoration: none;
        color: var(--normal-blue);
    }

    .link:hover {
        color: var(--navy-blue);
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem;
        align-self: center;
        flex: 0 0 auto;
        max-height: 16rem;
        /*min-width: 12rem;*/
    }

    .skillsAndTech {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }

    .soloCardContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 1085px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1rem 5rem 2rem;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;
        overflow: auto;
        color: #2E4053;
        width: 100%;
        font-size: 0.85rem;
        animation: cardSlideIn 1s ease-out;
    }

    .link {
        text-decoration: none;
        color: var(--normal-blue);
    }

    .link:hover {
        color: var(--navy-blue);
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem;
        align-self: center;
        flex: 0 0 auto;
        max-height: 16rem;
        /*min-width: 12em;*/
        animation: imageSlideIn 1s ease-out;
    }

    @keyframes imageSlideIn {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .skillsAndTech {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        /*animation: cardSlideIn 1s ease-out;*/
    }

    .soloCardContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        /*animation: cardSlideIn 1s ease-out;*/
    }

    @keyframes cardSlideIn {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
}