@import '../../utils/colors.css';

@media (max-width: 480px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1em 1em 0;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 0.5rem 1rem;
        padding: 1rem;
        overflow: auto;
        width: 100%;
        color: #2E4053;
        font-size: 0.85rem;
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        margin: 1rem 1rem 0.5rem;
        align-self: center;
        flex: 0 0 auto;
        min-height: 16rem;
        max-width: 100%;
    }

    .connectLinksContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1rem 0;
        width: 100%;
    }

    .connectLinks {
        display: flex;
        /*align-items: center;*/
        justify-content: center;
        align-content: center;
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        color: var(--normal-blue);
        transition: color 0.3s ease;
        background-color: var(--white);
        border-radius: 1rem;
        padding: 1rem;
        /*margin: 0 0.5rem;*/
    }

    .emailLink:hover {
        color: var(--email);
    }

    .github:hover {
        color: black;
    }

    .linkedin:hover {
        color: var(--linkedin);
    }

    .phone:hover {
        color: var(--phone);
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1em 0;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        margin: 1em;
        padding: 1em;
        overflow: auto;
        min-width: 20em;
        color: #2E4053;
        font-size: 0.85em;
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        margin: 1em;
        align-self: center;
        flex: 0 0 auto;
        max-height: 16em;
        min-width: 12em;
    }

    .connectLinksContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 0;
    }

    .connectLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        color: var(--normal-blue);
        transition: color 0.3s ease;
        background-color: var(--white);
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 1rem;
    }

    .emailLink:hover {
        color: var(--email);
    }

    .github:hover {
        color: black;
    }

    .linkedin:hover {
        color: var(--linkedin);
    }

    .phone:hover {
        color: var(--phone);
    }
}

@media (min-width: 1085px) {
    .aboutMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2E4053;
        background-color: var(--gray-background);
        padding: 1em 5em;
        overflow-x: hidden;
        font-size: calc(10px + 2vmin);
        min-height: 100vh;
    }

    .introSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 75%;
    }

    .mainCardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        text-align: left;
        background-color: var(--white);
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        margin: 1em;
        padding: 1em;
        overflow: auto;
        min-width: 20em;
        color: #2E4053;
        font-size: 0.85em;
    }

    .image {
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        margin: 1em;
        align-self: center;
        flex: 0 0 auto;
        max-height: 16em;
        /*min-width: 12em;*/
    }

    .connectLinksContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 1rem 0;
    }

    .connectLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.2);
        color: var(--normal-blue);
        transition: color 0.3s ease;
        background-color: var(--white);
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 1rem;
    }

    .emailLink:hover {
        color: var(--email);
    }

    .github:hover {
        color: black;
    }

    .linkedin:hover {
        color: var(--linkedin);
    }

    .phone:hover {
        color: var(--phone);
    }
}