.aboutMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);
    background-color: var(--background-color);
    padding: 6rem 0;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    width: 50%;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.photoAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    padding: 0 0 0 1rem;
    font-size: 3rem;
    margin: 0;
}

.firstName {
    color: var(--desktop-link);
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-content: stretch;*/
    align-items: flex-start;
    width: 100%;
}

.mainCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.position {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    background-color: var(--foreground-color);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    overflow: auto;
    color: var(--primary-text);
    font-size: 0.85rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.link {
    text-decoration: none;
    color: var(--desktop-link);
}

.link:hover {
    color: var(--text-hover);
}

.image {
    border-radius: 10rem;
    flex: 0 0 auto;
    max-height: 5rem;
}

.skillsAndTech {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

@media (max-width: 480px) {
    .aboutMain {
        padding: 1rem 1rem 0;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .aboutMain {
        padding: 1rem 2rem;
    }

    .introContainer {
        @media (max-width: 505px) {
            flex-direction: column;
        }
    }
}

@media (min-width: 1085px) {
    .aboutMain {
        padding: 6rem 0;
    }
}
