@import '../../utils/colors.css';

.projectsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E4053;
    background-color: var(--gray-background);
    padding: 1em 0;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;

    @media only screen and (min-width: 1000px) {
        padding: 1em 5em;
    }
}