@import '../../index.css';

@media (max-width: 480px) {
    body {
        background-color: var(--background-color);
        margin-top: 1.5rem;
    }
}

@media (max-width: 1084px) {
    body {
        background-color: var(--background-color);
        margin-top: 3rem;
    }

    .appHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--background-color);
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .headerTitle {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        text-decoration: none;
        color: var(--desktop-link);
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .barsBtn {
        background: none;
        border: none;
    }

    .barsIcon {
        color: var(--desktop-link);
        transition: color 0.3s ease;
    }

    .barsBtn:active .barsIcon {
        color: var(--text-hover);
    }

    .desktopNavbar {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: var(--background-color);
        box-shadow: -0.4rem 0 .75rem rgba(0, 0, 0, 0.2);
        overflow-x: hidden;
        padding: 1rem 0 1rem 0;
        transition: 0.5s;
        flex-direction: column;
        white-space: nowrap;
    }

    .pageLink {
        text-align: left;
        padding: 0 0 1rem 1rem;
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--mobile-link);
        display: block;
        transition: color 0.3s, transform 0.3s;
        font-weight: bold;
    }

    .pageLink:active {
        color: var(--text-hover);
    }

    /*.page-link:active {*/
    /*    color: #55C1CD;*/
    /*}*/

    .closeBtn {
        background: none;
        border: none;
        position: absolute;
        top: 0.9rem;
        right: 0.5rem;
    }

    .closeBtn:active .xIcon {
        color: var(--text-hover);
    }

    .xIcon {
        color: var(--desktop-link);
        transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;;
    }

    .navList {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        margin-top: 3.5rem;
    }

    .scrolled {
        /*background-color: var(--normal-blue);*/
        /*color: var(--background-color);*/
        box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.2);
    }

    /*.childrenScrolled {*/
    /*    color: var(--background-color);*/
    /*}*/
}

@media (min-width: 1085px) {

    body {
        background-color: var(--background-color);
        margin-top: 3rem;
    }

    .appHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        background-color: var(--background-color);
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }

    .headerTitle {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        padding-left: 1.5rem;
        text-decoration: none;
        color: var(--desktop-link);
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .headerTitle:hover {
        color: var(--text-hover);
    }

    .desktopNavbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .barsBtn {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .pageLink {
        text-align: left;
        /*padding: 0 1rem;*/
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--desktop-link);
        display: block;
        transition: color 0.3s, transform 0.3s;
    }

    .pageLink:hover {
        color: var(--text-hover);
        /*transition: font-weight 0.3s ease-in-out;*/
    }

    .pageLinkContainer {
        padding: 0 1.5rem;
    }

    .closeBtn {
        display: none;
    }

    .navList {
        display: none;
    }

    .scrolled {
        /*background-color: var(--normal-blue);*/
        /*color: var(--background-color);*/
        box-shadow: 0 0.4rem 0.75rem rgba(0, 0, 0, 0.2);
    }

    /*.childrenScrolled {*/
    /*    color: var(--background-color);*/
    /*}*/
}