body {
    background-color: var(--background-color);
    margin-top: 3rem;
    transition: background-color 0.25s ease-in-out;
}

.appHeader {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--background-color);
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.headerTitle {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding-left: 1.5rem;
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: bold;
    transition: color 0.25s ease;
}

.headerTitle:hover {
    color: var(--text-hover);
}

.mobileNavbar {
    display: none;
}

.desktopNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.barsBtn {
    display: none;
}

.sidebar {
    display: none;
}

.pageLink {
    text-align: left;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-blue);
    display: block;
    transition: color 0.25s, transform 0.25s;
}

.pageLink:hover {
    color: var(--text-hover);
}

.themeButton {
    background-color: var(--primary-blue);
    border-width: 0;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    color: var(--background-color);
    margin-right: 1rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.themeButton:hover {
    background-color: var(--text-hover);
}

@media (max-width: 480px) {
    body {
        margin-top: 1.5rem;
    }

    .themeButton {
        margin: 0 0.5rem;
    }
}

@media (max-width: 1024px) {
    .appHeader {
        padding: .5rem 1rem;
    }

    .pageLinkContainer {
        padding: 0 1.5rem;
    }

    .pageLink {
        padding: 0 1rem;
    }
}
