.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: #CD6155;
    color: #E5E8E8;
}

/*.flex-spacer {*/
/*    flex: 1;*/
/*}*/

.header-title {
    text-align: center;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #E5E8E8;
    font-weight: bold;
}

.bars-btn {
    background: none;
    border: none;
}

.bars-icon {
    font-size: 2rem;
    color: #E5E8E8;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.bars-btn:hover .bars-icon {
    transform: scale(1.1);
    color: white;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #34495E;
    box-shadow: 0.4rem 0 .75rem rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.page-link {
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #E5E8E8;
    display: block;
    transition: color 0.3s, transform 0.3s;
}

.page-link:hover {
    color: #55C1CD;
    transform: scale(1.1);
}

.close-btn {
    background: none;
    border: none;
    position: absolute;
    top: 0.9rem;
    right: 0.5rem;
}

.close-btn:hover .x-icon {
    transform: scale(1.1);
    color: #CD6155;
}

.x-icon {
    font-size: 2.5rem;
    color: #E5E8E8;
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out;;
}

.nav-list {
    display: flex;
    flex-direction: column;
}