:root {
    --white: #FFFFFF;
    --gray-background: #F3F2F7;
    --secondary-gray: #C6C5C7;
    --placeholder-text: #C5C5C7;
    --brick-red: #CD6155;
    --dark-red: #803D35;
    --slate-gray: #34495E;
    --original-white: #E5E8E8;
    --light-blue: #52A6E9;
    --normal-blue: #1888E2;
    --blue-gray: #5983A4;
    --navy-blue: #0C4471;
    --email: #6D4AFF;
    --linkedin: #2A67BC;
    --phone: #75DB6F;
}
