body {
  background-color: var(--background-color) !important;
  padding-top: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #F3F2F7;
  --foreground-color: #FFFFFF;
  /*--foreground-color: #C6C5C7;*/
  --primary-text: #2E4053;
  --secondary-text: #F3F2F7;
  --placeholder-text: #C5C5C7;
  /*--brick-red: #CD6155;*/
  /*--dark-red: #803D35;*/
  /*--slate-gray: #34495E;*/
  /*--original-white: #E5E8E8;*/
  --mobile-link: #52A6E9;
  --desktop-link: #1888E2;
  /*--blue-gray: #5983A4;*/
  --text-hover: #0C4471;
  --email: #6D4AFF;
  --linkedin: #2A67BC;
  --github: #000000;
  --phone: #75DB6F;
}

[data-theme="dark"] {
  --background-color: #000000;
  --foreground-color: #1C1C1E;
  --primary-text: #E3EBF3;
  --secondary-text: #000000;
  --placeholder-text: #9B9BA1;
  /*--brick-red: #CD6155;*/
  /*--dark-red: #803D35;*/
  /*--slate-gray: #34495E;*/
  /*--original-white: #E5E8E8;*/
  --mobile-link: #52A6E9;
  --desktop-link: #1888E2;
  /*--blue-gray: #5983A4;*/
  --text-hover: #B4CEE3;
  --email: #6D4AFF;
  --linkedin: #2A67BC;
  --github: #FFFFFF;
  --phone: #75DB6F;
}
