.homeMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: #2E4053;
    background-color: #DED6CA;
    padding: 1em 0;
    overflow-x: hidden;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;

    @media only screen and (min-width: 1000px) {
        padding: 1em 5em;
    }
}

p {
    text-align: justify;
}