.connectLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
    width: 100%;
}

.link {
    color: var(--primary-text);
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

.link:hover {
    color: var(--primary-blue);
}

.linkText {
    font-weight: 500;
}

@media (max-width: 480px) {
    .link {
        margin: 0 0.5rem;
    }
}

@media (min-width: 481px) and (max-width: 1084px) {
    .link {
        margin: 0 1rem;
    }
}

@media (min-width: 1085px) {
    .connectLinksContainer {
        gap: 1.2rem;
    }
}
